
<h1 class="text-center">Successfully Logged in</h1>

<div class="submit_button" >
<%= button_to "SIGN-OUT", destroy_user_session_path, method: :delete  %>
</div>


<div class="submit_button" >
<%= button_to "PRODUCTS", products_path ,method: :get  %>
</div>



